@model List<CRM.Models.Message>


@if (Model.Count == 0)
            {
    <h2>There are no messages at this time</h2>
}
else
{
    <div class="col-md-12 col-xs-12" id="js-messages-col">
        <table class="table table-striped table-hover ">
            <col style="width:65%">
            <col style="width:15%">
            <col style="width:20%">
            <thead>
                <tr>
                    <th class="table-head-title">Messages for @ViewBag.Name</th>
                    <th class="glyph-cell"></th>
                </tr>

            </thead>
            <tbody>
                @foreach (var message in Model)
                {
                    <tr>

                        <td>@message.Body</td>
                        <td><strong><span id="author-in-user-messages">Author: </span></strong> @message.Author.Name</td>
                        <td class="glyph-cell">

                            @*@if (Model.CurrentUserId == message.AuthorId)
                                {*@
                            @*<a href="/Messages/Edit/@message.Id"> <span class="glyphicon glyphicon-pencil"></span></a>*@
                            <span class="glyphicon glyphicon-trash js-delete-message message-delete" js-data-id="@message.Id" title="Delete Message"></span>
                            @*}*@



                        </td>

                    </tr>
                }
            </tbody>
        </table>



    </div>
}

