

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/****************BOOTSTARP/FLATLY OVERRIDES*********/

.glyphicon-pencil:hover {
    cursor: pointer;
    color: #3498db;
    padding-left: 4px;
}

.glyphicon-pencil {
    padding-left: 4px;
}


.glyphicon-trash:hover {
    cursor: pointer;
    color: #e74c3c;
}

td > .glyphicon-trash {
    padding-left: 7px;
}

.table a:not(.btn) {
    text-decoration: none;
    font-weight: 600;
}



.btn {
    padding: 5px 10px;
    margin: 3px;
}

.notifications {
    position: relative;
}

.notifications .badge{
    position: absolute;
    top: 8px;
    right: 0;

}

/*****************THEME SPECIFIC OVERRIDES------DEFAULT************************/

.table a:not(.btn):hover {
    color: #42E3C4;    
}




/*********SITE OVERRIDES********/

table > thead > tr > th.table-head-title {
    font-size: 2em;
    padding-top: 25px;
}

table {
    table-layout: fixed;
}

.glyph-cell {
    width: 65px;
}

.glyph-cell a, a.edit-link {
    color: #2c3e50;
}

.name-header {
    font-size: 32px;
    font-weight: bold;
}

.team-header {
    margin-top: 30px;
}

.divider-hr {
    margin-top: 60px;
}


#logo {
    max-width: 50px;
    height: auto;
    margin-top: 4px;
}

#team-button {
    margin-top: 30px;
}


span.field-validation-error {
    color: red;
}

span.field-validation-error span{
    color: red;
}

.assigned-to-task {
    margin-top: 7px;
}


.table>tbody>tr>td.task-cell-parent {
    padding: 5% 2%;
}

#logo-black {
    display: none;
    max-width: 50px;
    height: auto;
    margin-top: 4px;

}

span.btn-danger>a{
    color: white;
    text-decoration: none;
}

.submit-and-cancel {
    padding: 7px 40px;
    margin-right: 15px;
    font-size: 17px;
}

#js-minimize-messages {
    display: none;
    color: #798d8f;
    margin-left: 4px;
    padding-left: 5px;
    padding-bottom: 9px;
    vertical-align: middle;
    font-size: 20px; 
}

#js-minimize-messages:hover {
    cursor: pointer;
    color: black;
 
}



#js-enlarge-messages {
   color: #798d8f;
   margin-left: 4px;
   padding-left: 5px;
   padding-bottom: 9px;
   vertical-align: middle;
   font-size: 20px;

}

#js-enlarge-messages:hover {
   cursor: pointer;
   color: black;
  
}

.divider-hr-expanded {
    display: none;
}


.style-caret {
    font-size: 0.7em;
}

.dropdown-menu>li>a.style-dropdown-link {
    max-width: 100px;
}

#globe {
    font-size: 1.2em;
}

/***************LANDING PAGE************/

#landing-body {
    background-image: url("img/future.png");
    background-attachment: fixed;
    background-size: 100%;
    padding-bottom: 0;
   
}


#overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(66, 199, 173, 0.7);    
    text-align: center;
    overflow-x:hidden;
    overflow-y:hidden;
  
}

#register-header {
    color: #fff;
}

#overlay .row .col-md-4 {
    text-align: center;
}

input.form-control {
    margin: auto;
}

#register-button-landing {
    width: 100%;
}

.register-form {
    padding-top: 7%;
}

#landing-page-logo {

    max-width: 60px;
    height: auto;
}


#fly-client-text {
    font-size: 3.7em;
    font-weight: bold;
    color: #fff;
    text-align: start;
    vertical-align: bottom;
    margin-top: 10px;
}

#text-and-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
}