@model CRM.Models.ApplicationUser

<h3>You are not part of this customer's team</h3>

<h4>Please ask your manager, @Model.Group.Manager.Name  <span class="glyphicon glyphicon-comment js-begin-chat-table" title="chat with this user" js-data-id="@Model.Group.Manager.Id" js-data-name="@Model.Group.Manager.Name"></span>, to add you to their team</h4>