
@{
    ViewBag.Title = "ChatTest";
}

<h2>ChatTest</h2>
<span class="input-group">
    <input type="text" class="form-control" placeholder="chat partner Id" id="js-chat-partner">
</span>

<span class="btn btn-success" id="js-begin-chat">Begin Chat</span>

<span class="input-group">
    <input type="text" class="form-control" placeholder="enter chat message" id="js-chat-input" >
</span>
<span class="btn btn-success" id="js-send-chat-message">Send Message</span>


<div id="js-messages-holder">



</div>

