
@model CRM.Models.CustomerUploadVM


<h1>Upload a File</h1>

@using (Html.BeginForm("Upload", "Home", FormMethod.Post,
                new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <fieldset>
        <div class="input-for-file">
           @Html.TextBoxFor(m => m.File, new { @class = "", type = "file" })

           @Html.HiddenFor(m => m.CustomerId)
        </div>
    <div>
        <input type="submit" value="Upload" class="btn btn-primary" />
    </div>
    </fieldset>
}

